#halloween2023Game {
    margin: 0 auto;
    @media (max-width: 767px) {
        width: clamp(285px, 504px, 90vw);
        height: clamp(200px, 70vh, 70vh);
    }
    @media (min-width: 768px) {
        width: 672px;
        height: clamp(448px, 70vh, 70vh);  
    }
    @media (min-width: 992px) {
        width: 928px;
        height: clamp(618px, 70vh, 70vh);  
    }
    @media (min-width: 1200px) {
        width: 1080px;
        height: clamp(720px, 70vh, 70vh);
    }
}